{% load static %}
<!doctype html>
<html lang="en">
<head>
 <meta charset="utf-8">
 <meta http-equiv="x-ua-compatible" content="ie=edge">
 <meta name="description" content="">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>AE Stocks</title>
 <script src="//bensmithett.github.io/dragster/lib/dragster.js"></script>
 <link rel="stylesheet" href="{% static 'css/kanban.css' %}">
</head>

<body>
 {% block content %}{% endblock %}

 <h1>아프리카 코끼리</h1>

 {% for board in boards %} 
 <h2>{{ board.name }}</h2>

 <!-- Top30 메인 리스트 / 별도 db 사용 / 수정 불가 -->
  <div class="board" >
    <div class="column">
        <h3>Top 30</h3>
        {% for card in tops %}
        <a class="card" draggable="true" data-card-title="{{ card.title }}">{{ card.title }} {{ card.rate }} {{ card.market }} </a>
        {% endfor %}
    </div>
 
    <!-- 종목 정리용 리스트 / 생성, 삭제 가능 / 리스트는 메인리스트에서 가져옴 -->
    {% for column in board.columns.all %}
    <div class="column" data-column-id="{{ column.id }}" draggable="true">
      <div class="c-title" style="float:left">
        <!-- 컬럼 타이틀 -->
        <form action="/new-col-name/" method="POST">
          {% csrf_token %}
          <input id="c-title-hidden" type="hidden" name="column_id" value="{{ column.id }}" />
          <input id ="c-title-text" type="text" name="title" class="new-col-name no-display" data-column-id="{{ column.id }}" data-column-title="{{ column.title }}" value="{{ column.title }}"/>
        </form>
        <button id="c-title-button" class="column-title" data-column-id="{{ column.id }}">{{ column.title }}</button>
      </div>

      <!-- 컬럼 삭제 버튼  -->
      <div class="c-delete" sytle="float:right">
        <form action="/delete-column/" method="POST" >
          {% csrf_token %}
          <input type="hidden" name="column_id" value="{{ column.id }}" />
          <button class="delete-button" type='submit'>delete</button>
        </form>
      </div>
        
        {% for card in column.cards.all %}
        <a class="card" draggable="true" id="list-1" data-card-title="{{ card.title }}" href="/cards/{{ card.id }}/{{ card.slug }}/" >{{ card.title }}</a>  <!-- ondragstart="startDrag(event)" ondragend="endDrag(event)" -->
        {% endfor %}
      

        <form action="/new-card/" method="POST">
          {% csrf_token %}
          <input type="hidden" name="column_id" value="{{ column.id }}" />
          <input id ="new-card-text" type="text" name="title" class="new-card no-display" data-column-id="{{ column.id }}" />
        </form>
        <button id="add-card-button" class="show-new-card" data-column-id="{{ column.id }}">+ Add a card</button>
      </div>
      {% endfor %}
    <!-- 새 컬럼 추가 버튼 -->
    <form action="/new-list/" method="POST">
      {% csrf_token %}
      <input type="hidden" name="board_id" value="{{ board.id }}" />
      <input id="add-list-text" type="text" name="title" class="new-list no-display" data-board-id="{{ board.id }}" />
    </form>
    <button id="add-list-button" class="show-new-list" data-board-id="{{ board.id }}">+ Add a new list</button>
  </div>
 
  {% empty %}
  <p><em>No boards created yet!</em></p>
  {% endfor %}

<script>
   
   function parse_cookies() {
      var cookies = {};
      if (document.cookie && document.cookie !== '') {
         document.cookie.split(';').forEach(function (c) {
         var m = c.trim().match(/(\w+)=(.*)/);
         if(m !== undefined) {
         cookies[m[1]] = decodeURIComponent(m[2]);
         }
         });
      }
      return cookies;
   }
   const cookies = parse_cookies();

   // 입력창 취소 관련 focus된 아이템 저장
   var previousActiveElement=null;

   document.onmousedown = function(e) {
      console.log('0' + 'button down');
      previousActiveElement = document.activeElement;
   }
  
   // 외부 영역 클릭해서 취소하기
   document.onclick = function(e) {
      console.log('1' + e.target.className)
      console.log('2' + document.activeElement.className)
      var targetElement = e.target;
      var currentActiveElement = document.activeElement;

      if (targetElement.className === 'mask') {
         console.log(targetElement.className)
         window.location = '/';
      }   
      else if (currentActiveElement.dataset.columnId === undefined && previousActiveElement.dataset.columnId === undefined && currentActiveElement.className !== 'new-list' && previousActiveElement.className !== 'new-list' && previousActiveElement.className !== 'new-card-name') {return;}
      else if (previousActiveElement.className === 'new-card') {
         if (currentActiveElement.dataset.columnId === undefined || previousActiveElement.className !== currentActiveElement.className || currentActiveElement.dataset.columnId !== previousActiveElement.dataset.columnId) {
            previousActiveElement.classList.add('no-display')
         }
      }
      else if (previousActiveElement.className === "new-col-name") {
         if (currentActiveElement.dataset.columnId === undefined || previousActiveElement.className !== currentActiveElement.className || currentActiveElement.dataset.columnId !== previousActiveElement.dataset.columnId) {
            previousActiveElement.classList.add('no-display');
            // document.getElementsByClassName("column-title").className = "column-title"
            const columnTitle = document.querySelector('.column-title[data-column-id="' + previousActiveElement.dataset.columnId + '"]');
            columnTitle.classList.remove('no-display');
         }
      }
      else if (previousActiveElement.className === "new-list") {
         if (currentActiveElement.dataset.columnId === undefined || previousActiveElement.className !== currentActiveElement.className || currentActiveElement.dataset.columnId !== previousActiveElement.dataset.columnId) {
            previousActiveElement.classList.add('no-display');
            document.getElementById('add-list-button').classList.remove('no-display');
         }
      }
      else if (previousActiveElement.className === "new-card-name") {
         if (currentActiveElement.dataset.cardTitle === undefined || previousActiveElement.className !== currentActiveElement.className || currentActiveElement.dataset.cardTitle !== previousActiveElement.dataset.cardTitle) {
            previousActiveElement.classList.add('no-display');
            document.getElementById('card-title-button').classList.remove('no-display');
         }
      }
     
   }

   // ESC키로 입력 취소 and 빈칸 또는 수정없는 엔터의 경우
   document.onkeydown = function(e) {
      var activeElement = document.activeElement;
      
      if (activeElement.classList.value ==='') {return;}
      else if (activeElement.className === 'new-col-name' && e.keyCode === 27) {
         activeElement.classList.add('no-display');
         const columnTitle = document.querySelector('.column-title[data-column-id="' + activeElement.dataset.columnId + '"]');
         columnTitle.classList.remove('no-display');
      }
      else if (activeElement.className === 'new-col-name' && e.keyCode === 13) {
         console.log('3' + activeElement.value);
         if (activeElement.value ==='' || activeElement.value === e.target.dataset.columnTitle) {
            e.preventDefault();
            activeElement.classList.add('no-display');
            const columnTitle = document.querySelector('.column-title[data-column-id="' + activeElement.dataset.columnId + '"]');
            columnTitle.classList.remove('no-display');
         }   
      }
      else if (activeElement.className === 'new-card' && e.keyCode === 27) {
         activeElement.classList.add('no-display');
      }
      else if (activeElement.className === 'new-card' && e.keyCode === 13) {
         if (activeElement.value ==='') {
            e.preventDefault();
            activeElement.classList.add('no-display');
         }   
      }
      else if (activeElement.className === 'new-list' && e.keyCode === 27) {
         activeElement.classList.add('no-display');
         document.getElementById('add-list-button').classList.remove('no-display');
      }
      else if (activeElement.className === 'new-list' && e.keyCode === 13) {
         if (activeElement.value ==='') {
            e.preventDefault();
            activeElement.classList.add('no-display');
            document.getElementById('add-list-button').classList.remove('no-display');
         }   
      }
      else if (activeElement.className === 'new-card-name' && e.keyCode === 27) {
         activeElement.classList.add('no-display');
         document.getElementById('card-title-button').classList.remove('no-display');
      }
      else if (activeElement.className === 'new-card-name' && e.keyCode === 13) {
         if (activeElement.value ==='' || activeElement.value === e.target.dataset.cardTitle) {
            e.preventDefault();
            activeElement.classList.add('no-display');
            document.getElementById('card-title-button').classList.remove('no-display');
         }   
      }
     
   }

   // 드래그 시작 시, 원래 카드 숨기기 - 사용하지 않는 코드. 참고용
   function startDrag(e) {
      var element = e.target;
      console.log('4' + e.target.classList);
      setTimeout(function(){
         element.classList.add('moving-card');
      }, 0);
      setTimeout(function(){
         element.classList.add('no-display');
      }, 50);
   }

   function endDrag(e) {
      var element = e.srcElement;
      element.classList.remove('no-display');
   }


   // 새 카드 만드는 버튼 액션 정의
   for (button of document.getElementsByClassName('show-new-card')) {
      button.addEventListener('click', e => {
         const newCard = document.querySelector('.new-card[data-column-id="' + e.currentTarget.dataset.columnId + '"]');
         newCard.classList.remove('no-display');
         newCard.focus();
      });
   }

   // 새 리스트 만드는 버튼 액션 정의 
   for (button of document.getElementsByClassName('show-new-list')) {
      button.addEventListener('click', e => {
         const newList = document.querySelector('.new-list[data-board-id="' + e.currentTarget.dataset.boardId + '"]');
         newList.classList.remove('no-display');
         e.currentTarget.classList.add('no-display');
         newList.focus();
      });
   }

   // 리스트 이름 클릭에 관련된 액션
   for (button of document.getElementsByClassName('column-title')) {
      button.addEventListener('mouseup', e => {
         const newColName = document.querySelector('.new-col-name[data-column-id="' + e.currentTarget.dataset.columnId + '"]');
         newColName.classList.remove('no-display');
         e.currentTarget.classList.add('no-display');
         newColName.focus();
      });
   }

   // 팝업창에서 카드 이름 변경하기 액션
   for (button of document.getElementsByClassName('card-title')) {
        button.addEventListener('click', e=> {
            const newCardTitle= document.querySelector('.new-card-name[data-card-title="' + e.currentTarget.dataset.cardTitle + '"]');
            newCardTitle.classList.remove('no-display');
            e.currentTarget.classList.add('no-display');
            newCardTitle.focus();
        });
    }

   // Card Drag & Drop Action

   for (card of document.getElementsByClassName('card')) {
      card.addEventListener('dragstart', e => {
         e.dataTransfer.setData('Text', e.currentTarget.dataset.cardTitle);
      });
   }

   for (element of document.getElementsByClassName('column')) {
      new Dragster(element);
      element.addEventListener('dragover', e => {
         if (e.target.dataset.columnId === null) {console.log('5' + 'board!!')};
         console.log('6' + e.target.classList);
         if (e.preventDefault) e.preventDefault();
      });

    element.addEventListener('dragster:enter', e => {
      e.currentTarget.classList.add('dropme'); 
      });

    element.addEventListener('dragster:leave', e => {
      e.currentTarget.classList.remove('dropme')
      });
      
    element.addEventListener('drop', e => {
      e.currentTarget.classList.remove('dropme');
      const postData = JSON.stringify({
        'column_id': e.currentTarget.dataset.columnId,
        'card_title': e.dataTransfer.getData('Text'),
        });

    fetch('/drop/', {
     credentials: 'same-origin',
     method: 'post',
     headers: {
      'X-CSRFToken': cookies['csrftoken'],
     },
     body: postData,
    }).then(response => {
     if (response.ok) {
      window.location = '/';
     } else {
      alert('Error! ' + response.statusText);
     }
    });

   });
  }

  // 카드 옮겨서 sorting 하는 코드. 수정 중
 </script>

</body>
</html>
