{% extends 'kanban/base.html' %}

{% block content %}
 <style>
    .mask {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0,0,0,0.6);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
    }

    .card-detail {
        position: absolute;
        width: 730px;
        height: 300px;
        background-color: #edeff0;
        color: #4d4d4d;
        font-size: 18px;
        font-weight: bold;
        border-radius: 3px;
        padding: 16px 50px;
        box-sizing: border-box;
    }

    .card-header {
        display: flex;
        justify-content: space-between;
    }

    .card-header >a {
        background: none;
        border: none;
        color: #777;
        font-size: 20px;
        text-decoration: none;
    }

    .card-title {
        background: none;
        border : none;
        color: #777;
        font-size: 20px;
        font-weight : bold;
        text-align : left;
        position : absolute;
        left : 10px;
        width : 500px;
        height : 25px;

    }

    .new-card-name {
        width : 500px;
        height : 25px;
        font-size : 18px;
        font-weight : bold;
        position : absolute;
        left : 10px;
    }

    .card-header > a:hover {
        color: #444;
    }

    .no-display {
        display : none !important;
    }

 </style>

 <div class="mask">
  <div class="card-detail">
   <div class="card-header">
        <form action="/new-card-name/" method="POST">
            {% csrf_token %}
            <input id="card-title-hidden" type="hidden" name="current_card_id" value="{{current_card.id}}" />
            <input id="card-title-text" type="text" name="card_title" class="new-card-name no-display" data-card-title="{{ current_card.title }}" value="{{ current_card.title }}"/>
        </form>
        <button id="card-title-button" class="card-title" data-card-title="{{ current_card.title }}" >{{ current_card.title }}</button>

    
    <a href="/">✕</a>
   </div>
  </div>
 </div>

{% endblock %}
